<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>HTML Login Form</title>
        <link rel="stylesheet" href="../static/CSS/Laptop/style.css">
    </head>
    <body>
        <div class="main">
            <h1>CRM-CS</h1>
            <form action="">
                <label for="first">
                   نام کاربری:
                </label>
                <input type="text"
                       id="first"
                       name="first"
                       placeholder="نام کاربری را وارد کنید" required>

                <label for="password">
                    رمز عبور:
                </label>
                <input type="password"
                       id="password"
                       name="password"
                       placeholder="رمز عبور را وارد کنید" required>

                <div class="wrap">
                    <button type="submit"
                            onclick="solve()">
                        ورود
                    </button>
                </div>
            </form>

        </div>
    </body>
</html>